<!DOCTYPE html>
<html>
<body>

<h1>Enter your blog</h1>

<form action="/action_page.php">
    <label for="fname">Blog name:</label><br>
    <input type="text" id="fname" name="fname"<br>

    <p><label for="fname">intro:</label><br>
        <input type="text" id="fname" name="fname"</p>
    <p><label for="w3review">Blog:</label></p>
    <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button.</p>

</body>
</html>